body{
    background:url("https://thumbs.dreamstime.com/z/%D0%B3%D0%BE%D0%BB%D1%83%D0%B1%D0%BE%D0%B9-%D1%86%D0%B2%D0%B5%D1%82-%D1%84%D0%BE%D0%BD%D0%B0-%D0%BC%D0%BE%D0%BD%D1%82%D0%B0%D0%B6%D0%BD%D0%BE%D0%B9-%D0%BF%D0%BB%D0%B0%D1%82%D1%8B-%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81%D0%BE%D1%80%D0%B0-%D1%81%D0%B2%D1%8F%D0%B7%D0%B8-%D0%B0%D0%BF%D0%BF%D0%B0%D1%80%D0%B0%D1%82%D0%BD%D0%BE%D0%B3%D0%BE-197367017.jpg");


}
.activ{
    width: 25px;
    height:25px;
}
.activdis{
    width: 25px;
    height:25px;
}
.activ:hover{
    background-color: rgba(151, 151, 150, 0.589);
}
.activdis:hover{
    background-color: rgba(151, 151, 150, 0.589);
}

.qwe{
    height:30vh;
    display: flex; 
    justify-content: center;
}
.nav{
    height:30vh;
    width:80vw;
    display: flex;
    flex-direction: row;
    background-color: blue;
    color: white;
    justify-content: center;
    align-items: center;

}
.hi{
    display: flex;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.nonav{
    overflow: auto;
    background: orange;
    width:80vw;
    height:60vh;
    display: flex; 
    justify-content: center;
    flex-direction: column;

}
.flex{
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: rgba(25, 25, 25, 0.524);
    border-radius:25px;
    height:20vh;
}

.material-symbols-outlined {
    position: relative;
    bottom:0;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.wq{
    display: flex;
    width:78.5vw;
    flex-direction: row;
    justify-content: center;
    margin-left:10px ;

}
.grid{
    display: grid;
    grid-template-columns:28% 28% 28%;
    gap:65px;
}
.text{
    height:80%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.fal{
    height:20%; 
    display: flex;
    justify-content: space-around;
}